@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --1-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 221.2 83.2% 53.3%;
        --radius: 0.5rem;
        --switch-bg: #3a3a3a;
        --switch-circle-bg: #ffc83d;
        --icon-sun: #997f27;
        --icon-moon: #b1b0b5;
        --switch-circle-pos: 0.34rem;
        --default-transition: color 0.3s ease-in-out,
            background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
            fill 0.3s ease-in-out, transform 0.3s ease-in-out;
       
    }

    .font-outline-2 {
    -webkit-text-stroke: 1px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 1.15px black;
  }
    .font-outline-1 {
    -webkit-text-stroke: 1px white;
  }
  .font-outline-3 {
    -webkit-text-stroke: 1.15px white;
  }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 217.2 91.2% 59.8%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 224.3 76.3% 48%;
        --switch-bg: #f5f5f6;
        --switch-circle-bg: #6387fc;
        --icon-sun: #b1b0b5;
        --icon-moon: #f5f5f6;
        --switch-circle-pos: 3.22rem;
    }
}

#theme-switcher {
    background-color: var(--switch-bg);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    padding: 1rem;
}

#theme-switcher::before {
    content: '';
    position: absolute;
    width: 2.22rem;
    height: 2.22rem;
    background-color: var(--switch-circle-bg);
    border-radius: 50px;
    z-index: 0;
    left: 0;
    transform: translateX(var(--switch-circle-pos));
    transition: var(--default-transition);
}

#theme-switcher button {
    z-index: 1;
    transition: var(--default-transition);
}

#icon-sun {
    fill: var(--icon-sun);
}

#icon-moon {
    fill: var(--icon-moon);
}

@layer base {
    * {
        @apply border-border;
    }
    body {
          @apply bg-background text-foreground overflow-y-scroll;
        scroll-snap-type: y mandatory;
        min-height: 100vh;
    }
}

@layer components {
    .snap-start {
        scroll-snap-align: start;
    }
}

