.btn-hover {
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;

    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-7 {
    background-image: linear-gradient(
        to right,
        #6253e1,
        #852d91,
        #a3a1ff,
        #f24645
    );
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.btn-hover.color-8 {
    background-image: linear-gradient(
        to right,
        #b1b0b5,
        #3a3a3a,
        #997f27,
        #ffc83d
    );
    box-shadow: 0 4px 15px 0 rgba(100, 100, 161, 0.75);
}

.btn-hover.color-9 {
    background-image: linear-gradient(
        to right,
        #2d5c8b,
        #175fa8,
        #3c82c9,
        #0b66c1
    );
    box-shadow: 0 4px 15px 0 rgba(100, 100, 161, 0.75);
}
